 <div class="container marketing" style="font-size: 12px;text-align: center;">

      <!-- Three columns of text below the carousel -->
      <div class="row"  ng-repeat='food in foodLists' ng-if='$index % 3== 0'>
        <div class="col-lg-4" ng-if='foodLists[$index].id != undefined'>

          <img class="img-circle" ng-src="{{foodPrefix}}{{foodLists[$index].img}}" alt="{{foodLists[$index].keywords}}" style="width: 140px; height: 140px;">
          <h2>{{foodLists[$index].name}}</h2>
          <p>{{foodLists[$index].description}}</p>
          <p><a class="btn btn-default" href="#/navbar/foodDetail/{{foodLists[$index].id}}" role="button">查看详情 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
     
        <div class="col-lg-4" ng-if='foodLists[$index+1].id != undefined'>
          <img class="img-circle" ng-src="{{foodPrefix}}{{foodLists[$index+1].img}}" alt="{{foodLists[$index+1].keywords}}" style="width: 140px; height: 140px;">
          <h2>{{foodLists[$index+1].name}}</h2>
          <p>{{foodLists[$index+1].description}}</p>
          <p><a class="btn btn-default" href="#/navbar/foodDetail/{{foodLists[$index+1].id}}" role="button">查看详情 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
       
       <div class="col-lg-4" ng-if='foodLists[$index+2].id != undefined'>

          <img class="img-circle" ng-src="{{foodPrefix}}{{foodLists[$index+2].img}}" alt="{{foodLists[$index+2].keywords}}" style="width: 140px; height: 140px;">
          <h2>{{foodLists[$index+2].name}}</h2>
          <p>{{foodLists[$index+2].description}}</p>
          <p><a class="btn btn-default" href="#/navbar/foodDetail/{{foodLists[$index+2].id}}" role="button">查看详情 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->


      </div><!-- /.row -->
</div>
<nav>
  <nav style="text-align: center;">
  <ul class="pagination">
 
  
    <li ng-repeat='p in foodListsPageCount'><a href="#/navbar/foodList/{{foodCateId}}/{{p}}">{{p}}</a></li>


  </ul>
</nav>
</nav>