

<div class="jumbotron" style="width:80%;margin: 0 auto;padding-left: 20px">
    <h1>{{detail.name}}</h1>
    <h1 style="text-align: center;height: auto;"><img style="display: inline-block;width: 500px" ng-src="{{foodPrefix}}{{detail.img}}" class="img-responsive" alt="Generic placeholder thumbnail"></h1>
      
  	<p class="lead" ng-bind-html="html"></p>
<!--   	<p class="lead" compile="html"></p> -->
    <p style="text-align: center;"><a style="100px" class="btn btn-lg btn-success" href="javascript:;" role="button" onclick="history.back();" >
    返回
    </a></p>
    
</div>
