<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img style='height: 500px;width: 100%' src="http://h7.86.cc/walls/20151008/1440x900_2ea3fafcc599f65.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption" style="text-shadow: 0 0px 0px rgba(0,0,0,0);">
              <h1>食品查看</h1>
              <p>各种食品应有尽有，关于食材的介绍以及营养价值，还有食用食材所适用的人群和食用效果。</p>
              <p><a class="btn btn-lg btn-primary" href="#/navbar/healthList/1/1" role="button">点击查看</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img style='height: 500px; width: 100%;' src="http://h9.86.cc/walls/20151008/1440x900_1f025380819a2b7.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption" style="text-shadow: 0 0px 0px rgba(0,0,0,0);">
              <h1>菜谱分类</h1>
              <p>各种菜谱应有尽有，关于菜谱的介绍以及所需材料，关于菜谱的做法更是非常详细。</p>
              <p><a class="btn btn-lg btn-primary" href="#/navbar/foodList/1/1" role="button">点击查找</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img style='height: 500px;width: 100%' src="http://h9.86.cc/walls/20151008/1440x900_cd181d3712e29f8.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption" style="text-shadow: 0 0px 0px rgba(0,0,0,0);">
              <h1>最新资讯</h1>
              <p>网罗最新资讯，娱乐新闻一览无余</p>
              <p><a class="btn btn-lg btn-primary" href="#/navbar/news/1" role="button">点击查看</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img style='height: 500px;width: 100%' src="http://h9.86.cc/walls/20151008/1440x900_90017e65c738208.jpg" alt="Third slide">
          <div class="container" style="text-shadow: 0 0px 0px rgba(0,0,0,0);">
            <div class="carousel-caption">
              <h1>城市查询</h1>
              <p>城市经纬度查询，让你了解城市位置。</p>
              <p><a class="btn btn-lg btn-primary" href="#/navbar/city" role="button">点击查看</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    